In [1]:
import pandas as pd

df4 = pd.read_csv("df_final_demo.txt")

In [2]:
df3 = pd.read_csv("df_final_experiment_clients.txt")

In [3]:
df1 = pd.read_csv("df_final_web_data_pt_1.txt")

In [4]:
df2 = pd.read_csv("df_final_web_data_pt_2.txt")

In [ ]:
df1.columns

In [ ]:
df2.columns

In [5]:
dfs = pd.concat([df1, df2], ignore_index=True)

In [ ]:
dfs['client_id'].unique()

In [ ]:
dfs.isnull()

In [ ]:
dfs.shape

In [ ]:
dfs.head()

In [ ]:
#checking what the type of date_time
dfs.dtypes

In [6]:
#convert object into date_time
dfs['date_time'] = pd.to_datetime(dfs['date_time'])

In [ ]:
dfs.dtypes

In [ ]:
df3.columns

In [ ]:
df4.columns

In [ ]:
#df_all.head()

In [ ]:
dfs.columns

In [ ]:
#dfs.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'], ascending=[True, True, True, True])

In [ ]:
dfs.head(10)

In [ ]:
#dfsorted[dfsorted['client_id'] == 442857]

In [ ]:
dfs['client_id'].value_counts().head()

In [ ]:
dfs['date_time'].isnull().value_counts()

In [ ]:
dfs['visitor_id'].isnull().value_counts()

In [ ]:
dfs['date_time'].isnull().value_counts()

In [ ]:
dfs['visit_id'].isnull().value_counts()

In [ ]:
dfs['visitor_id'].isnull().value_counts()

In [ ]:
dfs['process_step'].isnull().value_counts()

In [ ]:
dfs.isnull().value_counts()

In [ ]:
df4.columns

In [ ]:
df3.columns

In [ ]:
#df_test.isnull()

In [ ]:
dfs['process_step'].unique()

In [7]:
#merfe dfs + experiment(df3) to have Variaton = Control OR test)
df_mergeexp = dfs.merge(df3, on="client_id", how="left")

In [8]:
#merge with demo(df4) (demographic data)
df_merged = df_mergeexp.merge(df4, on="client_id", how="left")

In [9]:
df_merged.shape

(755405, 14)

In [10]:
#remove duplicates
df_merged = df_merged.drop_duplicates()

In [11]:
#remove rows without any variation
df_merged = df_merged[df_merged["Variation"].isin(["Control", "Test"])]

In [ ]:
df_merged.shape

In [ ]:
df_merged["process_step"].value_counts()

In [ ]:
df_merged["Variation"].value_counts()

In [ ]:
#Give a table for Tests and another for Controls! 
df_control = df_merged[df_merged["Variation"] == "Control"].copy()
df_test = df_merged[df_merged["Variation"] == "Test"].copy()

In [ ]:
df_control.shape

In [ ]:
df_test.shape

In [12]:
df_merged

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637487,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0
637532,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
637533,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
637534,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
637535,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0

In [13]:
df_merged.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time',
       'Variation', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [14]:
dfs.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [15]:
df3.columns

Index(['client_id', 'Variation'], dtype='object')

In [16]:
df4.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')