In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline 

file1= 'df_final_demo.txt'
file2='df_final_experiment_clients.txt'
file3='df_final_web_data_pt_1.txt'
file4='df_final_web_data_pt_2.txt'
df1 = pd.read_csv(file4)
df2 = pd.read_csv(file3)
df3 = pd.read_csv(file2)
df4 = pd.read_csv(file1)

In [ ]:
df1 = pd.read_csv(file3)

In [ ]:
df2 = pd.read_csv(file4)

In [ ]:
df3 = pd.read_csv(file2)

In [ ]:
df4 = pd.read_csv(file1)

In [2]:
# merging the dataframes from the df_final_web_data_pt_1.txt' and df_final_web_data_pt_2.txt'
dfs = pd.concat([df1,df2], ignore_index=True)
#dfs

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
755400,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
755401,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
755402,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
755403,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
755404,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [ ]:
dfs.isnull().value_counts()

In [ ]:
dfs.dtypes

In [3]:
# convert the date
dfs['date_time'] = pd.to_datetime(dfs['date_time'])
#dfs['date_time']

0        2017-06-06 08:56:00
1        2017-06-01 11:59:27
2        2017-06-01 11:58:48
3        2017-06-01 11:58:08
4        2017-06-01 11:57:58
                 ...
755400   2017-03-31 15:15:46
755401   2017-03-31 15:14:53
755402   2017-03-31 15:12:08
755403   2017-03-31 15:11:37
755404   2017-03-31 15:10:47
Name: date_time, Length: 755405, dtype: datetime64[ns]

In [ ]:
df3.columns

In [ ]:
df4.columns

In [ ]:
# sorted values
#dfs.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'], ascending=[True, True, True, True])

In [4]:
#merfe dfs + experiment(df3) to have Variaton = Control OR test)
df_mergeexp = dfs.merge(df3, on="client_id", how="left")
#df_mergeexp

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00,NaN
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27,NaN
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48,NaN
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08,NaN
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58,NaN
...,...,...,...,...,...,...
755400,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46,NaN
755401,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53,NaN
755402,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08,NaN
755403,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37,NaN
755404,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47,NaN

In [5]:
#merge with demo(df4) (demographic data)
df = df_mergeexp.merge(df4, on="client_id", how="left")
#df

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755400,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46,NaN,17.0,204.0,52.5,M,3.0,164693.48,7.0,7.0
755401,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53,NaN,17.0,204.0,52.5,M,3.0,164693.48,7.0,7.0
755402,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08,NaN,17.0,204.0,52.5,M,3.0,164693.48,7.0,7.0
755403,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37,NaN,17.0,204.0,52.5,M,3.0,164693.48,7.0,7.0
755404,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47,NaN,17.0,204.0,52.5,M,3.0,164693.48,7.0,7.0

In [ ]:
df.columns

In [6]:
df['process_step'].unique()

array(['confirm', 'step_3', 'step_2', 'step_1', 'start'], dtype=object)

In [7]:
# sorted values
df.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'], ascending=[True, True, True, True])

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
697779,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,NaN,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0
697778,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,NaN,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0
697777,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,NaN,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0
697776,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,NaN,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0
697775,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,NaN,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305392,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:40:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305391,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:41:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305390,9999875,738878760_1556639849,931268933_219402947_599432,step_2,2017-06-01 22:41:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305389,9999875,738878760_1556639849,931268933_219402947_599432,step_3,2017-06-01 22:44:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305388,9999875,738878760_1556639849,931268933_219402947_599432,confirm,2017-06-01 22:48:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#remove duplicates
df = df.drop_duplicates()
#df

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755400,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46,NaN,17.0,204.0,52.5,M,3.0,164693.48,7.0,7.0
755401,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53,NaN,17.0,204.0,52.5,M,3.0,164693.48,7.0,7.0
755402,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08,NaN,17.0,204.0,52.5,M,3.0,164693.48,7.0,7.0
755403,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37,NaN,17.0,204.0,52.5,M,3.0,164693.48,7.0,7.0
755404,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47,NaN,17.0,204.0,52.5,M,3.0,164693.48,7.0,7.0

In [9]:
#remove rows without any variation
df = df[df["Variation"].isin(["Control", "Test"])]

In [10]:
df["process_step"].value_counts()

process_step
start      101153
step_1      68210
step_2      56672
step_3      48264
confirm     42936
Name: count, dtype: int64

In [11]:
df["Variation"].value_counts()

Variation
Test       176699
Control    140536
Name: count, dtype: int64

In [12]:
# Create a table for Tests and another for Controls! 
df_control = df[df["Variation"] == "Control"].copy()
df_control

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
32,1338778,696747226_43654658167,169900933_72177377277_730026,step_2,2017-05-10 14:49:44,Control,10.0,128.0,64.0,M,2.0,351834.20,6.0,9.0
33,1338778,696747226_43654658167,169900933_72177377277_730026,step_1,2017-05-10 14:49:41,Control,10.0,128.0,64.0,M,2.0,351834.20,6.0,9.0
34,1338778,696747226_43654658167,169900933_72177377277_730026,step_2,2017-05-10 14:47:24,Control,10.0,128.0,64.0,M,2.0,351834.20,6.0,9.0
35,1338778,696747226_43654658167,169900933_72177377277_730026,step_1,2017-05-10 14:47:08,Control,10.0,128.0,64.0,M,2.0,351834.20,6.0,9.0
36,1338778,696747226_43654658167,169900933_72177377277_730026,start,2017-05-10 14:46:58,Control,10.0,128.0,64.0,M,2.0,351834.20,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657575,5305116,87196875_82592805389,69164930_20082199445_40666,confirm,2017-04-20 09:30:11,Control,18.0,226.0,63.5,F,3.0,89726.65,2.0,5.0
657576,5305116,87196875_82592805389,69164930_20082199445_40666,step_3,2017-04-20 09:27:44,Control,18.0,226.0,63.5,F,3.0,89726.65,2.0,5.0
657577,5305116,87196875_82592805389,69164930_20082199445_40666,step_2,2017-04-20 09:26:41,Control,18.0,226.0,63.5,F,3.0,89726.65,2.0,5.0
657578,5305116,87196875_82592805389,69164930_20082199445_40666,step_1,2017-04-20 09:25:58,Control,18.0,226.0,63.5,F,3.0,89726.65,2.0,5.0
657579,5305116,87196875_82592805389,69164930_20082199445_40666,start,2017-04-20 09:25:23,Control,18.0,226.0,63.5,F,3.0,89726.65,2.0,5.0

In [13]:
# Create a table for Tests and another for Controls! 
df_test = df[df["Variation"] == "Test"].copy()
df_test

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
6,4726500,934350987_45569789638,467318052_88159801968_565608,confirm,2017-06-05 17:38:52,Test,14.0,178.0,46.0,F,2.0,43357.46,6.0,9.0
7,4726500,934350987_45569789638,467318052_88159801968_565608,step_3,2017-06-05 17:38:33,Test,14.0,178.0,46.0,F,2.0,43357.46,6.0,9.0
8,4726500,934350987_45569789638,467318052_88159801968_565608,step_2,2017-06-05 17:37:31,Test,14.0,178.0,46.0,F,2.0,43357.46,6.0,9.0
9,4726500,934350987_45569789638,467318052_88159801968_565608,step_1,2017-06-05 17:37:24,Test,14.0,178.0,46.0,F,2.0,43357.46,6.0,9.0
10,4726500,934350987_45569789638,467318052_88159801968_565608,start,2017-06-05 17:37:16,Test,14.0,178.0,46.0,F,2.0,43357.46,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657557,7230446,301456995_82370441715,999642113_50361812747_686928,step_3,2017-03-16 13:54:54,Test,6.0,74.0,62.0,M,2.0,58778.11,2.0,5.0
657558,7230446,301456995_82370441715,999642113_50361812747_686928,step_3,2017-03-16 13:54:22,Test,6.0,74.0,62.0,M,2.0,58778.11,2.0,5.0
657559,7230446,301456995_82370441715,999642113_50361812747_686928,step_2,2017-03-16 13:54:05,Test,6.0,74.0,62.0,M,2.0,58778.11,2.0,5.0
657560,7230446,301456995_82370441715,999642113_50361812747_686928,step_1,2017-03-16 13:53:09,Test,6.0,74.0,62.0,M,2.0,58778.11,2.0,5.0
657561,7230446,301456995_82370441715,999642113_50361812747_686928,start,2017-03-16 13:53:01,Test,6.0,74.0,62.0,M,2.0,58778.11,2.0,5.0

In [ ]:
df_control.shape

In [ ]:
df_test.shape

In [14]:
df['num_accts'].nunique()

7

In [ ]:
# The probability that the client reached the final confirmation page on the first visit Davy
# Clients with higher tenure years are likely to have higher average balances than more recent clients? Inverse? non influence?Davy

# The number of accounts per client may differ by gender? Davy

In [20]:
df4.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [31]:
df4["clnt_tenure_yr"].unique()

array([ 6.,  7.,  5., 16., 12., 30., 15.,  8.,  4.,  3., 10., 11., 13.,
       14., 19., 18., 25., 23., 21., 17.,  9., 27., 24., 20., 28., 22.,
       29., 46., 26., 32., 33., 35.,  2., 38., 31., 48., 34., 36., 51.,
       nan, 47., 49., 37., 39., 40., 55., 42., 44., 43., 50., 54., 41.,
       45., 52., 62.])

In [23]:
df["bal"].value_counts().unique()

array([74, 72, 61, 60, 59, 58, 57, 55, 54, 53, 52, 51, 49, 48, 46, 44, 43,
       42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26,
       25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,
        8,  7,  6,  5,  4,  3,  2,  1])

In [26]:
# There is no significant relationship between client tenure and average account balances
# with significance level = 0.05

from scipy.stats import pearsonr, spearmanr

# Step 1: Select relevant columns and drop the missing values
df_tenure_balance = df4[['clnt_tenure_yr', 'bal']].dropna()

# Step 2: Pearson correlation test
pearson_corr, pearson_p = pearsonr(df_tenure_balance['clnt_tenure_yr'], df_tenure_balance['bal'])

print("Pearson correlation:", pearson_corr)
print("p-value:", pearson_p)

Pearson correlation: 0.20362038717514508
p-value: 0.0

In [ ]:
p<0 there is a significant relationship between the both variables. So we reject the H0

# Clients with longer tenure at Vanguard tend to have higher average account balances compared to newer clients
H0 : There is no significant difference between the average account balances of clients with longer tenure compared to newer clients
H1 : Clients with longer tenure at Vanguard tend to have higher average account balances compared to newer clients

# we will considere that a client with clnt_tenure_yr <= 5 is a new client
# alpha = 0.05

In [30]:
from scipy.stats import ttest_ind

# Select relevant columns and drop the missing values
df_tenure_balance = df4[['clnt_tenure_yr', 'bal']].dropna()

# Define groups 
new_clients = df_tenure_balance[df_tenure_balance['clnt_tenure_yr'] <= 5]['bal']
long_clients = df_tenure_balance[df_tenure_balance['clnt_tenure_yr'] > 5]['bal']

# Perform independent t-test
t_stat, p_value = ttest_ind(long_clients, new_clients, equal_var=False)

print("t-statistic:", t_stat)
print("p-value:", p_value)

t-statistic: 35.52870062458832
p-value: 9.695145461351222e-272

In [32]:
new_clients_mean = df_new_clients.mean()
long_clients_mean = df_long_clients.mean()

new_clients_std = df_new_clients.std(ddof=1)
long_cliens_std = df_long_clients.std(ddof=1)

n1 = len(df_new_clients)
n2 = len(df_long_clients)

statistic = (long_clients_mean - new_clients_mean) / np.sqrt( (long_clients_mean**2/n1) + (new_clients_mean**2/n2))
statistic

NameError: name 'df_new_clients' is not defined

p-value is almost = 0 so p-value < 0.05 => we reject the H0. 
Clients with longer tenure at Vanguard tend to have higher average account balances compared to newer clients

In [33]:
# Create a new column for grouping
avg_balance = df_tenure_balance.groupby('tenure_group')['bal'].mean()

plt.figure(figsize=(6,5))
avg_balance.plot(kind='bar', color=['skyblue','orange'])
plt.title("Average Account Balance by Tenure Group")
plt.xlabel("Client Tenure Group")
plt.ylabel("Average Balance")
plt.show()

KeyError: 'tenure_group'

In [ ]:
show_statistical_test(statistic, 0.05, n, distribution="t-student", alternative="greater")