In [1]:
import pandas as pd

df4 = pd.read_csv("df_final_demo.txt")

In [2]:
df3 = pd.read_csv("df_final_experiment_clients.txt")

In [3]:
df1 = pd.read_csv("df_final_web_data_pt_1.txt")

In [4]:
df2 = pd.read_csv("df_final_web_data_pt_2.txt")

In [5]:
df1.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [6]:
df2.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [7]:
dfs = pd.concat([df1, df2], ignore_index=True)

In [8]:
dfs['client_id'].unique()

array([9988021, 8320017, 4033851, ..., 9895983, 9668240,  674799],
      shape=(120157,))

In [9]:
dfs.isnull()

        client_id  visitor_id  visit_id  process_step  date_time
0           False       False     False         False      False
1           False       False     False         False      False
2           False       False     False         False      False
3           False       False     False         False      False
4           False       False     False         False      False
...           ...         ...       ...           ...        ...
755400      False       False     False         False      False
755401      False       False     False         False      False
755402      False       False     False         False      False
755403      False       False     False         False      False
755404      False       False     False         False      False

[755405 rows x 5 columns]

In [10]:
dfs.shape

(755405, 5)

In [11]:
dfs.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [12]:
#checking what the type of date_time
dfs.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [13]:
#convert object into date_time
dfs['date_time'] = pd.to_datetime(dfs['date_time'])

In [14]:
dfs.dtypes

client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [15]:
df3.columns

Index(['client_id', 'Variation'], dtype='object')

In [16]:
df4.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [17]:
#df_all.head()

In [18]:
dfs.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [19]:
#dfs.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'], ascending=[True, True, True, True])

In [20]:
dfs.head(10)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43

In [21]:
#dfsorted[dfsorted['client_id'] == 442857]

In [22]:
dfs['client_id'].value_counts().head()

client_id
5574879    111
2274658     90
2128341     84
5951379     81
1595223     81
Name: count, dtype: int64

In [23]:
dfs['date_time'].isnull().value_counts()

date_time
False    755405
Name: count, dtype: int64

In [24]:
dfs['visitor_id'].isnull().value_counts()

visitor_id
False    755405
Name: count, dtype: int64

In [25]:
dfs['date_time'].isnull().value_counts()

date_time
False    755405
Name: count, dtype: int64

In [26]:
dfs['visit_id'].isnull().value_counts()

visit_id
False    755405
Name: count, dtype: int64

In [27]:
dfs['visitor_id'].isnull().value_counts()

visitor_id
False    755405
Name: count, dtype: int64

In [28]:
dfs['process_step'].isnull().value_counts()

process_step
False    755405
Name: count, dtype: int64

In [29]:
dfs.isnull().value_counts()

client_id  visitor_id  visit_id  process_step  date_time
False      False       False     False         False        755405
Name: count, dtype: int64

In [30]:
df4.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [31]:
df3.columns

Index(['client_id', 'Variation'], dtype='object')

In [32]:
#df_test.isnull()

In [33]:
dfs['process_step'].unique()

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

In [34]:
#merfe dfs + experiment(df3) to have Variaton = Control OR test)
df_mergeexp = dfs.merge(df3, on="client_id", how="left")

In [35]:
#merge with demo(df4) (demographic data)
df_merged = df_mergeexp.merge(df4, on="client_id", how="left")

In [36]:
df_merged.shape

(755405, 14)

In [37]:
#remove duplicates
df_merged = df_merged.drop_duplicates()

In [38]:
#remove rows without any variation
df_merged = df_merged[df_merged["Variation"].isin(["Control", "Test"])]

In [39]:
df_merged.shape

(317235, 14)

In [40]:
df_merged["process_step"].value_counts()

process_step
start      101153
step_1      68210
step_2      56672
step_3      48264
confirm     42936
Name: count, dtype: int64

In [41]:
df_merged["Variation"].value_counts()

Variation
Test       176699
Control    140536
Name: count, dtype: int64

In [43]:
#Give a table for Tests and another for Controls! 
df_control = df_merged[df_merged["Variation"] == "Control"].copy()
df_test = df_merged[df_merged["Variation"] == "Test"].copy()

In [44]:
df_control.shape

(140536, 14)

In [45]:
df_test.shape

(176699, 14)